<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/jee
       http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<bean id="coordinacionesDAO" class="ve.unefa.labControl.persistence.dao.CoordinacionDAOImpl" scope="singleton" lazy-init="true">
		<property name="jdbcTemplate"> <ref bean="jdbcTemplate" /></property>
<!--		<property name="bookIncrementer"> <ref bean="bookincrementer" /> </property>-->
	</bean>
	
	<bean id="laboratoriosDAO" class="ve.unefa.labControl.persistence.dao.LaboratorioDAOImpl" scope="singleton" lazy-init="true">
		<property name="jdbcTemplate"> <ref bean="jdbcTemplate" /></property>
<!--		<property name="bookIncrementer"> <ref bean="bookincrementer" /> </property>-->
	</bean>
	
	<bean id="materiasDAO" class="ve.unefa.labControl.persistence.dao.MateriaDAOImpl" scope="singleton" lazy-init="true">
		<property name="jdbcTemplate"> <ref bean="jdbcTemplate" /></property>
<!--		<property name="bookIncrementer"> <ref bean="bookincrementer" /> </property>-->
	</bean>
	
	<bean id="profesoresDAO" class="ve.unefa.labControl.persistence.dao.ProfesorDAOImpl" scope="singleton" lazy-init="true">
		<property name="jdbcTemplate"> <ref bean="jdbcTemplate" /></property>
<!--		<property name="bookIncrementer"> <ref bean="bookincrementer" /> </property>-->
	</bean>
	
	<bean id="turnosDAO" class="ve.unefa.labControl.persistence.dao.TurnoDAOImpl" scope="singleton" lazy-init="true">
		<property name="jdbcTemplate"> <ref bean="jdbcTemplate" /></property>
<!--		<property name="bookIncrementer"> <ref bean="bookincrementer" /> </property>-->
	</bean>

	<bean id="periodosDAO" class="ve.unefa.labControl.persistence.dao.PeriodoDAOImpl" scope="singleton" lazy-init="true">
		<property name="jdbcTemplate"> <ref bean="jdbcTemplate" /></property>
<!--		<property name="bookIncrementer"> <ref bean="bookincrementer" /> </property>-->
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg>
			<ref bean="labControlDataSource" />
		</constructor-arg>
	</bean>
	
<!--	<bean id="bookincrementer" class="org.springframework.jdbc.support.incrementer.PostgreSQLSequenceMaxValueIncrementer">-->
<!--	<constructor-arg> <ref bean="labControlDataSource" /> </constructor-arg>-->
<!--	<constructor-arg><value>book_id_seq</value> </constructor-arg>-->
<!--	</bean>-->
	
</beans>

